{% extends '::base.html.twig' %}
{% trans_default_domain 'message' %}

{% block content %}
<div id="contain">

  


    <div id="contain2" class="login-logo center"><img id="logo" src="https://sohiscert.com/wp-content/uploads/2018/07/logo-vector-sohiscert.jpg"></div>
        <br>&nbsp;</br>
        <div class="center" align="center">Cambio de contraseña</div>
        
        <br>&nbsp;</br>

			<div class="fos_user_user_show">

				<div class="flash-{{ type }}">
                                    <div class="form-box" id="login-box">
                                        <div class="alert alert-success alert-dismissable">
                                            <i class="fa fa-ban"></i>
                                            
                                            <b></b>La contraseña ha sido cambiada con éxito
                                        </div>
                                    </div>
                                </div>
			    
			</div>

	</div>
{% endblock %}			
