{% extends 'base.html.twig' %}



{% block content %}

<div align="center"> 
<img src="../public/images/logo-vector-sohiscert.jpg" width="300" height="300">
<p color:"#3E7D5E">Para acceder al área privada haz click en el siguiente botón</p>
<a class="button" href="http://clientes.sohiscert.com" target="_blank">Acceder al área privada</a>
</div>

    

        
           
{% endblock %}