{% extends 'base.html.twig' %}



{% block content %}

<p>Para acceder al área privada haz click en el siguiente botón</p>
<a href="clientes.sohiscert.com">Acceder al área privada</a>
    

        
           
{% endblock %}