{% extends 'base.html.twig' %}



{% block content %}

<p>Para acceder al área privada haz click en el siguiente botón</p>
<a class="button" href="http://clientes.sohiscert.com" target="_blank">Acceder al área privada</a>
    

        
           
{% endblock %}