{% extends 'base.html.twig' %}



{% block content %}

<p>Para acceder al área privada haz click en el siguiente botón</p>
<form action="clientes.sohiscert.com">
        <button type="submit">Acceder</button>
    </form>

</form>

        
           
{% endblock %}