
###> symfony/framework-bundle ###
#.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/var/cache/
/var/log/
/var/update/
/var/sessions/
###< symfony/framework-bundle ###
/vendor/
/logs/
###> symfony/phpunit-bridge ###
.phpunit
phpunit.xml.dist
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
-
symfony.lock
pruebas.sh
composer.lock
phpinfo.php
