{% extends '::base.html.twig' %}



{% block content %}

<!-- Main content -->
    <section class="content">

      <div class="error-page">
        <h2 class="headline text-red">{{ status_code }}</h2>
        <div class="error-content">
          <h3><i class="fa fa-warning text-red"></i> Ohh!, algo fue mal.</h3>
          <p>
            El servidor devolvió un error "{{ status_text }}".
          </p>

        </div>
      </div><!-- /.error-page -->
    </section><!-- /.content -->
{% endblock %}