@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: 'Oxygen', sans-serif;

}
/*MNN Nuevo*/

.glyphicon-user-mnn:before {
  content: ' ' !important; 
}
.glyphicon-user-mnn{
    background-image: url("../img/login/muneco_usu.svg");
    background-size: 150%;
    height: 34px !important;
    width: 34px !important;
    background-position: center;
}

.glyphicon-lock-mnn{
    background-image: url("../img/login/candado_pass.svg");
    background-size: 150%;
    height: 34px !important;
    width: 34px !important;
    background-position: center;
}

 .btn-primary-mnn:before {
   content: ' '; 
 }


.btn-primary-mnn {
    background-color: #b01c14;
  	background-image: url("../img/login/dedo.svg");
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: 30px;
    border-radius: 0;
    box-shadow: none;
    font-family:'Montserrat', sans-serif;
    color:#FFFFFF;
    font-size:16px;
   
    border: 1px solid transparent;
 }

 .botonac{
 	width:250px !important;
 	height: 35px
 }




.form-control-mnn {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0.001px solid #AB1E13;

}



.titulo{    
    font-family:'Montserrat', sans-serif;
    color:#3e7d5e;
    font-size:25px;
    text-shadow: 2px 1px #FFFFFF;
    font-weight: bold;
}
.titulo a{
	color: #AB1E13;
	text-decoration: underline;
	font-weight: bold;
}
.titulo a:hover{
	text-decoration: none;
}

.form-group-mnn {
    margin-bottom: 15px;
    width:250px;
}

.manual{    
    font-family:'Montserrat', sans-serif;
    color:#3e7d5e;
    font-size:25px;
    text-shadow: 2px 1px #FFFFFF;
    font-weight: bold;
}


/* MNN Modificado*/	
.register-page {
    background: #FFFFFF none repeat scroll 0% 0%;/*background: #8CBC9F none repeat scroll 0% 0%;*/
   
}

.login-page {
    /*mnn. FONDO IMAGEN LOGIN*/
    background-image: url("../img/login/fondo.png"); 
    background-size: cover;
    /* fin mnn */
}

/* Fin modificado*/

#login-box{
	
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	margin:0;
}
.center{
	text-align:center;
	color: #40733C;
	margin: 0 auto;
	font-size:24px!important;

	
}


.center_mnn{
	font-family:'Montserrat', sans-serif;
	font-weight: 600;
	font-size:25px!important;
	color: #AB1E13;
	text-shadow: 2px 1px #FFFFFF;
    font-weight: bold;
	
}

/* MNN. Modificacion texto */
.center_mnn2{
	font-family:'Montserrat', sans-serif;
	font-weight: 600;
	font-size:25px!important;
	color: #3E7D5E;
	
}


#avatar-mnn{
	height:115px;
	width:115px;
}

.texto-login{    
    font-family:'Montserrat', sans-serif;
    color:#AB1E13;
    font-size:14px;
    margin: -20px 0 0 0px;
    
}


.logo-play{
	float:left;
	vertical-align: text-bottom;
}

.logo-pdf{
	float:right;
}

.logo-pdf a:hover{
	color:#000000;

}

.logo-pdf a{
	color:#AB1E13;
	text-decoration: none;
}


	#contain{
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center!important;
	margin-top: 0 auto;
	margin-bottom: 0 auto;
	height: auto;
	/*Centrado Horizontal y Verticalmente*/
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

	}
	#contain2{
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;


	}
	#contain3{
	



	}
	
.login-logo {
    color: #40733C;
    font-size: 18px;
}



.login-logo2 {
    color: #40733C;
    font-size: 18px;
}
#avatar{
	height:38px;
	width:38px;
}

.ventajas{
	
	color:grey;
	font-weight:500;
	
}
#logo{
	height:175px;
	width:350px;
	
	
}
#conozca-beneficios{

	font-size:14px!important;
	color: #969b9e;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

/* Header CSS  */
/*.header_top, .header_top_outer, .header_top_inner, .header_top_aligner {*/
/*height: 35px;*/
/*}*/

/*.header_top_outer {*/
/*box-shadow: 0px -1px 0px 0px #EAEDF0 inset;*/
/*}*/

/*.header_top, .header_top input[type="text"]:focus, .header_top input[type="number"]:focus, .header_top input[type="email"]:focus, .header_top input[type="password"]:focus, .header_top textarea:focus, .header_top_outer {*/
/*background-color: #8CBC9F;*/
/*}*/

/*.header_top_outer, .header_mid_outer, .header_bot_outer {*/
/*position: relative;*/
/*box-sizing: border-box;*/
/*}*/

/*div {*/
/*text-align: left;*/
/*}*/

/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, figure, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {*/
/*background: transparent none repeat scroll 0% 0%;*/
/*border: 0px none;*/
/*margin: 0px;*/
/*padding: 0px;*/
/*vertical-align: baseline;*/
/*outline: medium none;*/
/*}*/

/*.header_top, .header_top_outer .meta_wrap, .header_top_inner .social_wrap a {*/
/*color: #FFF;*/
/*}*/

/*body, .cmsms_breadcrumbs .cmsms_breadcrumbs_inner, .cmsms_breadcrumbs .cmsms_breadcrumbs_inner a {*/
/*font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;*/
/*font-size: 14px;*/
/*line-height: 20px;*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

/*body {*/
/*text-rendering: optimizelegibility;*/
/*}*/

/*.social_wrap ul li a {*/
/*display: inline-block;*/
/*}*/

/*.header_top_inner .header_top_aligner, .header_top_inner .nav_wrap, .header_top_inner .social_wrap, .header_top_inner .meta_wrap {*/
/*display: inline-block;*/
/*vertical-align: middle;*/
/*}*/

/* Fin */
