{% extends "layout.html.twig" %}

{% trans_default_domain 'message' %}

{% block body_content %}
<div id="contain">

    <div id="contain2" class="login-logo center"><img id="logo" src="https://sohiscert.com/wp-content/uploads/2018/07/logo-vector-sohiscert.jpg"></div>
      
        <div class="center" align="center">Cambio de contraseña</div>
          <br>&nbsp;</br>
          <p>
				{{ 'resetting.check_email'|trans({'%email%': email}) }}
		  </p>
          </div>
        
</div>
 
{% endblock body_content %}

 