{% extends 'base.html.twig' %}
{% trans_default_domain 'message' %}

{% block content %}
<div id="contain">

  


    <!--<div id="contain2" class="login-logo center"><img id="logo" src="https://sohiscert.com/wp-content/uploads/2018/07/logo-vector-sohiscert.jpg"></div>-->
     <div id="contain2" class="login-logo center"><img id="logo" src="app/img/login/logo.svg"></div>
 
         <div id="entrar" class="center center_mnn2">CAMBIO DE CONTRASEÑA</div>
        
        <br>&nbsp;</br>
    
    <form action="{{ path('resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div>
            {% if invalid_username is defined %}
                <div class="alert alert-danger alert-dismissable">
                <i class="fa fa-ban"></i>
                  
                     <b>Error! {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</b>
                   
                </div>
            {% endif %}
            <label for="username" class="center center_mnn3">Usuario</label>
            <input type="text" class="form-control-mnn" id="username" name="username" required="required" placeholder="Usuario"/>
            <span class="glyphicon glyphicon-lock-mnn form-control-feedback"></span>
        </div>
        <br>&nbsp;</br>
        <div class="footer">
                    <input type="submit" value="RESTABLECER" class="btn-primary-mnn2 botonac"/>
        </div>
    </form>
</div>
{% endblock %}

   