

{% block subject %}
    Area Privada Sohiscert - Alta de Usuario
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Usuario : {{ userName }}
        password: {{ plainPassword }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% autoescape false %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Area Privada Sohiscert</title>
        <style type="text/css" media="screen">
            .sombras2{
            -webkit-box-shadow: 10px 10px 152px -30px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 152px -30px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 152px -30px rgba(0,0,0,0.75);
            }
         
             #anuncio{
            
             }
             #contain{
             overflow:hidden;
                background-color:white!important;
        /*   display:flex;
             justify-content:center;
             flex-direction:column;
             align-items:center;*/
            
               width:650px;
             min-width:650px;
             max-width:650px;
             
               
             
               /*max-height:1185px;*/
               height:auto;
             }
            
             
             
             #fondo{
                      background-image: url("https://sohiscert.com/wp-content/uploads/2018/07/img-bg-730x1024.jpg");
                    
                     background-size: cover;
                width:650px;
             min-width:650px;
             max-width:650px;
             
               height:auto;
                 padding-right:5%;
                 padding-left:5%;
                 
               padding-top:3%;
               padding-bottom:3%;
             }
             #mensaje{
             text-align: justify;
             text-justify: inter-word;
            
             padding:5%;
             padding-left:10%;
             padding-right:10%;
             margin-bottom:3%;
             padding-bottom:3%;
             margin: 0;
             overflow: auto;
             height: auto;
             }
            
            #mensaje p{
            color:grey;
            font-weight:500;
            
            }
            
            #mensaje h1{
            font-size:50px;
            font-weight:500;
            }
            
             #boton1{
             float:left;
             width:35%;
             height:40px;
             background-color:#40733c;
             text-align:center;
             border-radius: 50px;
             color:white;
             font-weight:bold;
             }
             #boton2{
             float:right;
             width:35%;
             height:40px;
             background-color:#40733c;
             text-align:center;
            border-radius: 50px;
            color:white;
            font-weight:bold;
             }
             #boton3 {
             width:100%;
             height:40px;
             background-color:#40733c;
             text-align:center;
            color:white;
            font-weight:bold;
             }
             #img2{
             width:100%;
             min-width:100%;
             max-width:100%;
             min-height:350px;
             max-height:350px;
             height:350px;
             
             }
        </style>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor="" class="background">
        <div id="fondodefondo">
            <div id="fondo">
                <div id="contain" class="sombras2">

                    <div id="imagen">
                        <img id="img2" class=" center" src="https://sohiscert.com/wp-content/uploads/2018/07/img-header-1024x691.jpg" />

                    </div>

                    <div id="mensaje">
                        <h1>¡Bienvenido!</h1>

                        <p>Estamos encantados de darle la bienvenida como nuevo operador de SOHISCERT y de que nos haya
                        elegido para ofrecerle nuestros servicios de certificación.</p>

                        <p>A partir de este momento puede disfrutar de las numerosas ventajas que supone la utilización de nuestra
                        área privada de clientes.</p>

                        <p>El área privada de clientes de SOHISCERT puede definirse como un espacio personalizado para cada
                        operador, donde podrá consultar el expediente, conocer el estado en el que se encuentra la certificación,
                        los productos y actividades que tiene certificado y la documentación disponible que puede ser
                        descargada: Certificados, Acuerdos de la Comisión de Certificación, Boletines Analíticos y Facturas. Así
                        como la posibilidad de subir también documentación y realizar diferentes consultas: solicitudes, acciones
                        correctivas, presupuestos aceptados, ampliaciones, Programa de Producción Vegetal (PAC),
                        modificación de datos, inclusión de productos, comunicación de incidencias, recursos y reclamaciones.
                        Todo ello a través de un sistema de identificación seguro, basado en la introducción de usuario y
                        contraseña.</p>


                        <p>El uso del área privada permitirá, por tanto establecer un canal de comunicación privado y dinámico
                        desde cualquier dispositivo las 24 horas del día los 365 días del año. Además redundará en una mayor
                        sostenibilidad medioambiental, permitiendo la eliminación del uso de papel y otros recursos,
                        asegurando que los documentos llegan en el momento deseado con el menor impacto medioambiental
                        posible.</p>


                        <p>A continuación le proporcionamos las claves de acceso y el manual de usuario para saber manejar el área
                        privada de clientes:</p>

                        <div id="botones">
                        <button id="boton1" >Usuario: {{ userName }}</button>
                        <button id="boton2">Contraseña: {{ plainPassword }}</button>
                
                    </div>
                    <br></br><br></br>
                    <a target="_blank" href="https://intranet-sohiscert4.e4ff.pro-eu-west-1.openshiftapps.com/public/docs/ManualdeUsuario WebAreaClientesSohiscert.pdf"><button id="boton3">DESCARGAR EL MANUAL DE USUARIO</button></a>
                    <br></br>
                </div>
                    
                </div>
            </div>
        </div>
    </body>
    </html>        
    {% endautoescape %}
{% endblock %}